:root {
    --fuente-base: 'Montserrat', sans-serif;
    --fuente-titulos: 'Handlee', cursive;
    --color-primary: #fa573a;
    --color-secondary: #21242e;
    --color-inactive: #aaa;
    --color-base: #ffffff;
}
li{
    list-style: none;
}
h1, h2{
    font-size: 32px;
    margin: 10px 0px;
    font-family: var(--fuente-titulos);
}
h3, h4, h5, h6, p, a, span{
    font-family: var(--fuente-base);
}
h3{
    font-size: 20px;
    font-weight: 400;
    margin: 6px 0px;
    margin: 6px 0px
}

h4{
    font-size: 18px;
    font-weight:700;
    margin: 10px 0px 6px 0px;
}
h5{
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0px;
}
p{
    margin: 5px 0px
}
.primary{
    color: var(--color-primary);
}
.navBlack{
    background-color: var(--color-secondary);   
    margin: 0px;
}
.navMenu{
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.navMenu li{
    list-style: none;
}
.navMenu li a span{
    text-decoration: none;
    color: var(--color-base);
    font-size: 20px;
    display: none;
    font-family: var(--fuente-base)
}
.navMenu li a span{
    text-decoration: none;
    color: var(--color-base);
    font-size: 20px;
    display: none;
    font-family: var(--fuente-base)
}
.navWhite{
    padding: 20px;
}
.subHeaderWhite{
    display: flex;
    justify-content:space-between;
}
.logo{
    width: auto;
    height: 30px;
}
.hamburguesa:hover{

}
.icoHam{
    height: 35px;
}
.itemsList{
    margin: 0px;
    padding:0px;
}
.itemsList li{
    list-style: none;
    padding: 18px;
    text-align: center;
}
.item{
    border-bottom: 1px solid var(--color-inactive);
}

.itemsList li a{
    text-decoration: none;
    color: var(--color-inactive);
    font-size: 16px;
    font-family: var(--fuente-base)
}
.itemsList li a:hover{
    color: var(--color-primary);
}
.container0{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
.cartaBtn{
    margin-top: 10px;
    padding: 16px 15px;
    background-color: var(--color-primary);
    border: none;
    width: 170px;
}
.cartaBtn a{
    color: var(--color-base);
}
.rsList{
    width: 170px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.srItem i{
    height: 50px;
    color: #ffffff;
}

.line{
    border-bottom: 2px solid var(--color-primary);
    top: -11px;
    position: relative;
    width: 130px;
    display: block;
    margin: auto;
    border-radius: 5px;
}

.section0{
    display: flex;
    background-image: url(./images/fondo.jpg);
    background-position-x: center ;
    background-color: #999;
    background-blend-mode: multiply;
    color: #ffffff;
    background-size: cover;
    height: 60vh;
    margin-bottom: 50px;
}
.section1, .section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.cabeceraArticle{
    text-align: center;
}
.article1, .article2{
    padding: 5px 20px 15px 20px;
}
  
.imageArticles{
    border: 1px solid var(--color-primary);
    padding: 8px;
}

.leerMas{
    color: var(--color-primary);
    width: 100%;
    border-bottom: 2px solid var(--color-inactive);
    font-weight: bolder;
    padding-bottom: 15px;
}

.containerFoto{
    padding: 30px 5px;
}

.containerFoto figure img{
    width: 100%;
    height: auto;
    display: block;
    width: 100%;
    transform: rotateZ(-12deg);
    transition: 1s;
}

.marcoImg{
    border: 4px solid var(--color-primary);
    transition: 1s;
    transform: rotateZ(12deg);

}
.marcoImg img:hover{
    transform: rotateZ(0deg);
}


.marcoImg:hover{
    transition: 1s;
    transform: rotateZ(0deg);
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-base);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
}
.ancla{
    position: absolute;
    top: -55px;
    left: 90%;
    font-size: 3em;
}

@media (min-width:786px) {
    .navMenu li a span{
        display: inline-block;
    }
    .section1, .section2{
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        padding: 0px 5px;
    }
    .article1, .article2, .containerFoto{
        width: 44%;
    }
    .article1{
        border-left: 1px solid var(--color-inactive);
        margin-bottom: 10px;
        .leerMas{
            border-bottom: none;
        }
    }
    fugure{
        margin: auto 10px auto 0px;
    }

    
}

@media (min-width:1004px) {
    .icoHam{
    display: none;
    }

    .navWhite{
    display: flex;
    justify-content:space-between;
    } 
    .itemsList{
        display: flex;
        gap:30px;
    }

    .item {
        border-bottom: none;
    }
    .itemsList li{
        padding: 0px;
    }

    .article1{
        width: 28%;
    }

    .section1, .section2{
        max-width: 1020px;
        justify-content: center;
        margin: auto auto 55px auto;
    }
        
    .container0, .navWhite, .navMenu{
        width: 1020px;
        margin: auto;
        justify-content: space-between;
    }
}

  
